/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url(./1-gallery.css);
@import url(./2-from.css);

.task-list {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 24px;
}
